{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="c-card c-card--responsive u-mb-medium">
                <div class="c-field has-icon-right">
                    {#                    <form method="get">#}
                    {#                        <input class="c-input" type="text" name="id" placeholder="Искать по ID пользователя">#}
                    {#                        <input type="submit" value="Искать по ID">#}
                    {#                    </form>#}
                </div>
                <div class="c-card__head">
                    <h5 class="c-card__title">Проявления {{ problem.action_id }}</h5>
                </div>

                    <div class="c-card__head">
                        <a href="{% url 'add_appearance' problem.id %}"><h5 class="c-card__title">Добавить проявления</h5></a>
                    </div>

                <table class="c-table u-border-zero">
                    <thead>
                    <tr>
                        <th class="c-table__cell u-text-mute">Тип</th>
                        <th class="c-table__cell">Текст</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr class="c-table__row">
                            <td class="c-table__cell">{{ problem.action_id }}</td>
                            <td class="c-table__cell">{{ problem.text }}</td>
                            <td class="c-table__cell u-text-right">
                                    <a href="{% url 'edit_type_action' problem.id %}"><span
                                            class="c-badge c-badge--small c-badge--warning">Изменить</span></a>
                               </td>
                        </tr>
                    </tbody>
                </table>

                <table class="c-table u-border-zero">
                    <thead>
                    <tr>
                        <th class="c-table__cell u-text-mute">Тип</th>
                        <th class="c-table__cell">Текст</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for appearance in appearances %}
                        <tr class="c-table__row">
                            <td class="c-table__cell u-text-mute">{{ appearance.type_action.action_id }}</td>
                            <td class="c-table__cell">{{ appearance.text }}</td>
                            <td class="c-table__cell u-text-right">
                                <a href="{% url 'edit_appearance' appearance.id %}"><span
                                        class="c-badge c-badge--small c-badge--warning">Изменить</span></a>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>


    </div><!-- // .container -->
{% endblock %}